{% extends 'base.html.twig' %}

{% block body %}
<nav>
    <a href="{{ path('app_publication_index') }}">Retour à la liste</a>
</nav>
<article>
    <h1>Mon article</h1>
    <div>Publié par {{ publication.auteur }} le: {{ publication.publieeLe | date('d/m/Y - H:i:s') }}</div>
    <div>
        {{ publication.contenu }}
    </div>
</article>
{% endblock %}

