{% extends 'base.html.twig' %}

{% block body %}
<nav>
    <ul>
        {% for publication in publications %}
        <li>
            <a href="{{ path('app_frontpublication_detail', {id: publication.id}) }}">
                {{ publication.titre }}
            </a>
            <span>
                {{ publication.ecritPar.nom }} - {{ publication.publieeLe | date('d/m/Y') }}
            </span>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}
